<footer class="footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <%= image_tag('TTPlogo.png') %>
      </div>
      <div class="col text-center text-sm-end">
        <div class="social-icons">
          <a class="nav-link" href="https://github.com/pedropuppin/MyTattooProject" target="_blank"><i class="fa-brands fa-github"></i></a>
          <a class="nav-link" href="https://www.lewagon.com/pt-BR" target="_blank"><i class="fa-solid fa-graduation-cap"></i></a>
        </div>
        <p>My Tattoo Project</p>
      </div>
    </div>
  </div>
</footer>
