<div class="container quotations-index">
  <div class="quotations-cards">
  <%= link_to 'Back', :back %>
    <div class="row">
      <h3 class="mb-4">Meus projetos</h3>
      <span class="mb-2 d-block"><small><em class="text-muted"><%= "Você não marcou nenhum projeto ainda!" if @quotations.empty? %></em></small></span>
      <% if current_user.role == "client" %>
        <%= render "client_index" %>
      <% else %>
        <%= render "artist_index" %>
      <% end %>
    </div>
  </div>
</div>
