<div class="container quotations-index">
  <%= link_to user_profile_path(current_user) do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  <h3 class="mb-4">Meus projetos</h3>
  <span class="mb-2 d-block"><small><em class="text-muted"><%= "Você não marcou nenhum projeto ainda!" if @quotations.empty? %></em></small></span>

  <div class="quotations-grid">
    <% @quotations.order(created_at: :desc).each do | quotation | %>
      <% artist = User.find(quotation.artist_id) %>
      <% user = User.find(quotation.user_id) %>
      <div class="cards-wraper">
        <div class="card-card">
          <% if current_user.role == "client" %>
            <%= render "client_index", quotation: quotation %>
          <% else %>
            <%= render "artist_index", quotation: quotation %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
