<div class="container quotations-index">
  <%= link_to 'Back', user_profile_path(current_user) %>
  <h3 class="mb-4">Meus projetos</h3>
  <span class="mb-2 d-block"><small><em class="text-muted"><%= "Você não marcou nenhum projeto ainda!" if @quotations.empty? %></em></small></span>

  <div class="quotations-grid">
    <% if current_user.role == "client" %>
      <%= render "client_index" %>
    <% else %>
      <%= render "artist_index" %>
    <% end %>
  </div>
</div>
