 <div class="d-flex">
    <% posts.each do |group| %>
      <div class="d-flex flex-column w-25 mx-2">
        <% group.each do |post| %>
          <div class="post" data-bs-toggle="modal" data-bs-target="#modal<%= post.id %>">
            <%= cl_image_tag(post.photo.key, class: 'img-fluid post-preview w-100 my-2 rounded') %>
          </div>
          <div class="modal fade modal-lg" id="modal<%= post.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <%= render 'posts/post_modal', post: post %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
