<div class="form-container">
  <%= simple_form_for @post do |f| %>
    <%= f.input :content, as: :text, label: 'Comment', placeholder: 'Say something about your tattoo!' %>
    <div class="form-actions" id="create-post-form">
      <%= f.button :submit, "Editar post", class: "form-btn" %>
      <%= link_to 'Cancelar', :back, class: "btn btn-flat" %>
    </div>
  <% end %>
</div>
