<% post_group = @posts.group_by { |post| post.id % 4 } %>
<% post_group = post_group.values %>

<div class="container">
  <div class="d-flex">
    <% post_group.each do |group| %>
      <div class="d-flex flex-column w-25 mx-2">
        <% group.each do |post| %>
          <%= cl_image_tag post.photo.key, class: 'img-fluid post-preview w-100 my-2' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
