<% def group_em(arr, ngroups)
  n_per_group, left_over = arr.size.divmod(ngroups)
  cum_off = 0
  ngroups.times.map do |i|
    n = n_per_group + (i < left_over ? 1 : 0)
    a = arr[cum_off, n]
    cum_off += n
    a
  end
end %>

<% post_group = group_em(@posts, 4) %>

<div class="container">
  <div class="d-flex">
    <% post_group.each do |group| %>
      <div class="d-flex flex-column w-25 mx-2">
        <% group.each do |post| %>
            <%= link_to cl_image_tag(post.photo.key, class: 'img-fluid post-preview w-100 my-2'), post_path(post) %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
