<div class="container">
  <div class="d-flex">
    <div class="img-box w-50">
      <%= cl_image_tag @post.photo.key, class: "img-fluid h-100" %>
    </div>
    <div class="w-50">

    </div>
  </div>
</div>
