.comments {
  display: flex;
  flex-direction: column-reverse;
}

.comment-box {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;

  p {
    color: rgba(255, 255, 255, 0.8);
  }

  small {
    color: white;
  }
}
