.font-login {
  color: white;
}

.font-login a{
  color: white;
  text-decoration: none;
}

.form-background {
  background-image: url('backgroundnoise.png');

}

.background {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('tattoobg.jpg');
  background-repeat: no-repeat;

}

.logo {
  background-size: cover;
  background-position: center;
  background-image: url('logo.png');
  margin-bottom: 24px;
  width: 250px;
  height: 250px;
  margin: auto;
  display: block;
}

::-webkit-scrollbar {
  display: none;
}
