.font-login {
  color: white;
}

.font-login a{
  color: white;
  text-decoration: none;
}

.form-label {
  visibility: hidden;
}

.background {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('tattoobg.jpg');
  background-repeat: no-repeat;
}
