.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://tristero.qodeinteractive.com/dark/wp-content/uploads/2020/02/port-1-featured-img.jpg);
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    text-align: center;
  }

  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 15px;
  }

  span {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 20px;
    letter-spacing: 5px;
    font-family: "Roboto";
    padding-top: 7px;
    opacity: .7;
  }

  p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.production {
  background-image: url('backgroundnoise.png');
  background-color: #111111;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;

  .dev-banner {
    #dev-h1 {
      color: #fff;
      text-transform: uppercase;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      font-size: 40px;
      font-weight: bold;
      letter-spacing: 15px;
      padding-top: 35px;
    }

    #dev-span {
      color: white;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
      font-size: 16px;
      letter-spacing: 5px;
      opacity: .7;
      font-family: "Roboto";
    }

    .developers {
      column-count: 3;
      column-gap: 15px;
    }
  }
}


.dev-infos {
  transform: translate(1%, 1%);
  width: 200px;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);

  .img-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 2;
    background-color: #000;

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      transition: 0.5s;
      width: 100%;
    }
  }

  .details {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 10px;

    h2 {
      font-size: 20px;
      margin-top: 13px;
      text-align: center;
      text-transform: uppercase;


      span {
        color: #8f8f8f;
        font-size: 13px;
      }
    }
  }

  #fernandoH2 {
    margin-top: 19px;
    font-size: 15px;
  }

  .social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      a {
        position: relative;
        display: block;
        width: 45px;
        height: 45px;
        text-align: center;
        background-color: #fff;
        color: #262626;
        margin: 0 5px;
        border-radius: 50%;
        transition: 0.5s;
        transform: translateY(150px);
        opacity: 0;

        .fa-brands {
          font-size: 28px;
          line-height: 45px;
          transition: 0.5s;
        }
      }

      a:hover .fa-brands {
        transform: rotateY(360deg);
      }
    }
  }
}

.dev-infos:hover .img-box {
  transform: translateY(-100px);

  img {
    opacity: 0.5;
  }
}

.dev-infos:hover .social-icons {
  li a {
    transform: translateY(0px);
    opacity: 1;
  }

  li:nth-child(1) a {
    transition-delay: 0s;
  }

  li:nth-child(2) a {
    transition-delay: 0.1s;
  }

  li:nth-child(3) a {
    transition-delay: 0.3s;
  }
}
