.navbar-lewagon {
  justify-content: space-between;
  background: #111111;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }

  .nav-item li{
    color: white;

    a {
      color: #fff;
    }
  }

}
