.modal-body {
  padding: 0 !important;
}

.post-img {
  padding: 0 !important;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.post-info {
  background-color: #212121;

  .user-info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(211, 211, 211);
    padding: 15px 0;

    .user-link {
      display: flex;
    }
  }
}
