.post {
  height: 90vh;
  border-radius: 10px;
}

.post-image {
  height: 90vh;
  max-width: fit-content;
  // border-radius: 10px 0 0 10px;
}

.post-details {
  max-width: 330px;
}

.post-preview {
  border-radius: 10px;
}
